body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: #FFF2F2;
}

header {
    width: 100vw;
    height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: #2D336B;
    color: white;
    font-size: 1.6rem;
}

.logo a{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo a p{
    text-decoration: none;
    color: white;
}

.cuenta{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cuenta p{
    font-size: 1.2rem;
}

.cerrarsesion{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    transition: 0.5s color ease-in-out;
}

.cerrarsesion:hover{
    color: #A9B5DF;
}

main {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editartarea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    height: 500px;
    background-color: #2D336B;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: auto;
}

.editartarea form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.editartarea label {
    font-size: 1.4rem;
    color: #FFF2F2;
    font-weight: bold;
}

.editartarea input[type="text"],
.editartarea input[type="date"] {
    font-size: 1.2rem;
    border: 2px solid #FFF2F2;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
}

.opciones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.opciones label {
    font-size: 1.4rem;
    color: #FFF2F2;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: 3px solid #2D336B;
}

.opciones input[type="radio"] {
    display: none;
}

.baja{
    background-color: green;
}

#baja:checked ~ .baja{
    border: 3px solid green;
}

.media{
    background-color: yellow;
}

#media:checked ~ .media{
    border: 3px solid yellow;
}

.alta{
    background-color: orange;
}

#alta:checked ~ .alta{
    border: 3px solid orange;
}

.inmediata{
    background-color: red;
}

#inmediata:checked ~ .inmediata{
    border: 3px solid red;
}

.botoncrear{
    width: 50%;
    transform:translateX(50%) ;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    background-color: #A9B5DF;
    border-radius: 5px;
}

.botoncrear:hover{
    background-color: #7886C7;
}
