body {
    width: 100vw;height: 100vh;
    background-color: #2D336B;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; 
    font-family: Verdana;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    margin-bottom: 20px;
    color: #FFF2F2;
}

.iniciosesion {
    background-color: #FFF2F2;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background-color: #7886C7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s linear;
}

button:hover {
    color: white;
    background-color:#2D336B;
}

hr {
    margin: 20px 0;
}

p {
    margin-bottom: 0;
}

.campo-contrasena {
    position: relative;
    display: flex;
    align-items: center;
}

.campo-contrasena input {
    width: 100%;
    padding-right: 35px; 
    box-sizing: border-box;
}

.ojo {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ojo img {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    pointer-events: none; 
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF2F2;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
}

.contenido {
    position: relative;
}

.aceptarmodal {
    background-color: #7886C7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.aceptarmodal:hover {
    color: white;
    background-color:#2D336B;
}

